#DATA STRUCTURE ASSIGNMENT

**QUESTION 1 : **  What are data structures, and why are they important?

**ANSWER 1 :**  Data structure in python are specialised ways of organizing and storing the data so that the data can be manipulate the data efficiently.
Data structures are important because they help improve the efficiency, readability, and performance of a program.

**QUESTION 2 :**  Explain the difference between mutable and immutable data types with examples?

**ANSWER 2 :** Mutable data types are those whose values can be changed or modified after creating it . in mutable data type we have
1) list
2) sets
3) dictionary

immutable data types are those whose values cannot be changed or modified after creating it. in immutable data type we have
1) tuple
2) strings

In [ ]:
# example
lis= [1,2,3]
lis[0]="mannan"
lis

['mannan', 2, 3]

In [ ]:
tup= (1,2,3)
tup[0]= 23

TypeError: 'tuple' object does not support item assignment

**QUESTION 3 :**  What are the main differences between lists and tuples in Python?

**ANSWER :**  List are mutable data types it means that we can change or modify the list after creating it. on the other hand tuples are immutable. we cannot change the value of tuple after creating it. we use [] brackets to store value in list . and () brackets to store values in tuple.

**QUESTION 4 :**  Describe how dictionaries store data?

**ANSWER 4 :**  A dictionary in Python is a data type that stores data in the form of key–value pairs.
Each key is unique and is used to access its corresponding value.

In [ ]:
#EXAMPLE
my_dict= {"name": "mannan","age": 23}
type(my_dict)

dict

**QUESTION 5 :**  Why might you use a set instead of a list in Python?

**ANSWER 5 :**   A set is used instead of a list when we need to store unique elements only.
Sets automatically remove duplicate values and store elements in an unordered manner. sets are also helpul in mathematical calulationsa like union, intersection and difference which are not efficiently manage by list.

**QUESTION 6 :**   What is a string in Python, and how is it different from a list?

**ANSWER 6 :**  A string in Python is a data type used to store a sequence of characters or textual data. unlike list strings are immutable.we can store any type of data in list but thats not the case with strings.

**QUESTION 7 :**  How do tuples ensure data integrity in Python?

**ANSWER 7 :**  tuples ensure data integrity in Python because they are immutable.Once a tuple is created its elements cannot be modified, added, or removed.

**QUESTION 8 : **  What is a hash table, and how does it relate to dictionaries in Python?

**ANSWER 8 :**  hash table is a data structure that stores data in key–value pairs using a hash function to map keys to specific locations.
Python dictionaries are implemented using hash tables, which allows fast access, insertion, and deletion of elements.

**QUESTION 9 :** Can lists contain different data types in Python?

**ANSWER 9 :**  Yes , list can store any type of data. it can store strings,int,boolean,complex any data type

**QUESTION 10 :**   Explain why strings are immutable in Python?

**ANSWER 10 : **  Any operation that appears to modify a string actually creates a new string instead of changing the original one.
This immutability helps prevent accidental data changes and allows Python to optimize memory usage.

 **QUESTIONS 11 :**   What advantages do dictionaries offer over lists for certain tasks?

 **ANSWER 11 : **    Dictionaries offer faster data retrieval compared to lists because they use keys instead of index positions.
They allow data to be stored with meaningful labels, making programs more readable and efficient.

**QUESTION 12 :**  Describe a scenario where using a tuple would be preferable over a list?

**ANSWER 12: **  SUPPOSE  we want to store the aadhar number or date of birth of some students in that case tuple is preferable over a list because we do not want any change or modification in our data.

**QUESTION 13 :**  How do sets handle duplicate values in Python?

**ANSWER 13: **  sets in python only stores unique values . if some  value is occurs more than once it will show those value only once.

In [ ]:
#example
a={1,1,1,4,4,4,4,4,5,5}
a

{1, 4, 5}

**QUESTION 14 :**  How does the “in” keyword work differently for lists and dictionaries?

**ANSWER 14 :**  The "in" keyword works differently for lists and dictionaries.
In lists, it checks whether a value exists in the list.
In dictionaries, it checks whether a key exists not the value.

**QUESTION 15 :**  Can you modify the elements of a tuple? Explain why or why not?

**ANSWER 15 :** no we cannot change the elements of tuple because tuple are immutable.once a tuple is created we cannot add or remove elements from it . any attempt to change them will throw an error.

**QUESTION 16 :**  What is a nested dictionary, and give an example of its use case?

**ANSWER 16 :**  A nested dictionary is a dictionary in which the value of a key is another dictionary.
Nested dictionaries are useful for storing structured or hierarchical data.

In [ ]:
#EXAMPLE
students = {
    "student1": {"name": "Mannan", "age": 23, "marks": {"Math": 90, "Physics": 85}},
    "student2": {"name": "Aisha", "age": 22, "marks": {"Math": 95, "Physics": 88}}
}
students

{'student1': {'name': 'Mannan',
  'age': 23,
  'marks': {'Math': 90, 'Physics': 85}},
 'student2': {'name': 'Aisha',
  'age': 22,
  'marks': {'Math': 95, 'Physics': 88}}}

**QUESTION 17 :**  NO IDEA

**QUESTION 18 :**  In what situations are lists preferred over dictionaries?

**ANSWER 18 :** when we access the values by index not by keys,when we have some duplicate value and we want to keep them,when we dont want to look by keys we can just use loop to access them

**QUESTION 19 : **   Why are dictionaries considered unordered, and how does that affect data retrieval?

**ANSWER : **  Dictionaries are considered unordered because they store data using keys and hash values rather than index positions.
therefore data retrieval in dictionaries is done using keys instead of indexes.

**QUESTION 20:**   Explain the difference between a list and a dictionary in terms of data retrieval.

**ANSWER 20 :**  we can access the data in list using index . but in dictionary we retrieve our data using keys.data retrieval is much faster and efficient in dictionary instead of list.

#practical questions

In [1]:
#question 1 :   Write a code to create a string with your name and print it
name= "mannan"
print(name)

mannan

In [2]:
#question 2 :  Write a code to find the length of the string "Hello World"
word= "Hello World"
len(word)

11

In [3]:
#question 3:  Write a code to slice the first 3 characters from the string "Python Programming"
#answer:
string= "python programming"
print(string[0:3])

pyt

In [4]:
#question 4 :  Write a code to convert the string "hello" to uppercase
#answer:
string= "hello"
string.upper()

'HELLO'

In [5]:
#question 5 : Write a code to replace the word "apple" with "orange" in the string "I like apple"
#answer :
sentence= "I like apple"
sentence.replace("apple","orange")

'I like orange'

In [6]:
#question 6 :  Write a code to create a list with numbers 1 to 5 and print it
#answer:
list=[]
for i in range(1,6):
  list.append(i)
print(list)

[1, 2, 3, 4, 5]

In [10]:
#queston 7 :  Write a code to append the number 10 to the list [1, 2, 3, 4]
#answer:
lis=[1,2,3,4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [11]:
#question 8 : Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [12]:
#question 9 :  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
#answer:
x=['a','b','c','d']
print(x[1])

b

In [14]:
#question 10:  Write a code to reverse the list [10, 20, 30, 40, 50]
#answer:
y=[10,20,30,40,50]
y.reverse()
print(y)

[50, 40, 30, 20, 10]

In [15]:
#question 11 : Write a code to create a tuple with the elements 100, 200, 300 and print it.
#answer:
tup= (100,200,300)
print(tup)

(100, 200, 300)

In [16]:
#questions 12:Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
#answer :
tup= ('red','green','blue','yellow')
print(tup[-2])

blue

In [17]:
#questions 13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).
#answer:
tuple=(10,20,5,15)
print(min(tuple))

5

In [18]:
#questions 14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
#answer:
tup= ('dog','cat','rabbit')
tup.index('cat')

1

In [22]:
#questions 15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
#answer:
tup= ('apple','mange','orange')
if "kiwi" in tup:
  print("kiwi is present")
else:
    print("kiwi is not present")

kiwi is not present

In [23]:
#questions 16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.
#answer
set= {'a','b','c'}
print(set)

{'a', 'b', 'c'}

In [24]:
#questions 17:  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
#answer:
a= {1,2,3,4,5}
a.clear()
print(a)

set()

In [25]:
#questions 18 : Write a code to remove the element 4 from the set {1, 2, 3, 4}.
#answer:
b={1,2,3,4}
b.remove(4)
print(b)

{1, 2, 3}

In [26]:
#questions 19 :  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

In [27]:
#questions 20 : Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
c= {1,2,3}
d= {2,3,4}
print(c&d)

{2, 3}

In [33]:
#question 21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
#answer:
my_dict= {"name": "mannan","age": 23,"city": "delhi"}
print(my_dict)

{'name': 'mannan', 'age': 23, 'city': 'delhi'}

In [34]:
#question 22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
#answer:
my_dict= {'name': 'John', 'age': 25}
my_dict["country"]= "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
#question 23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
#answer:
my_dict={"name": "Alice", "age":30}
print(my_dict["name"])

Alice

In [37]:
#question 24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
#answer:
x= {"name": "Bob", "age": 22, "city": "New York"}
x.pop("age")
print(x)

{'name': 'Bob', 'city': 'New York'}

In [38]:
#question 25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
#answer:
y= {'name': 'Alice', 'city': 'Paris'}
if "city" in y:
  print("city is present")
else:
  print("city is not present")

city is present

In [39]:
#question 26:  Write a code to create a list, a tuple, and a dictionary, and print them all
list=["mannan",34,22.4, True]
tuple= (8,4,5,3)
my_dict= {"name": "mannan", "city":"meerut"}
print("list",list)
print("tuple",tuple)
print("dictionary",my_dict)

list ['mannan', 34, 22.4, True]
tuple (8, 4, 5, 3)
dictionary {'name': 'mannan', 'city': 'meerut'}

In [40]:
#question 27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
#answer:
import random
list=[]
for i in range(5):
  list.append(random.randint(1,100))
  list.sort()
print(list)

[12, 14, 27, 70, 98]

In [41]:
#question 28:  Write a code to create a list with strings and print the element at the third index.
#answer:
list= ["cup","coffe", "restauraunt", "bike","car"]
print(list[3])

bike

In [45]:
 #question 29 :Write a code to combine two dictionaries into one and print the result.
 #answer:
 a={"bike":"splendor", "phone": "oppo"}
 b={"car": "kia", "shoes":"campus"}
a.update(b)
print(a)

{'bike': 'splendor', 'phone': 'oppo', 'car': 'kia', 'shoes': 'campus'}

In [54]:
#question 30: Write a code to convert a list of strings into a set.
#answer:
m=["mannan", "ziya", "pwskills", "data structure"]
y=set(m)
print(y)

TypeError: 'set' object is not callable